.resources {
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #061237;
}

.resources a {
    text-decoration: none;
    color: #061237;
    display: block;
    margin: 30px 0px;
}

.resources>div {
    display: flex;
    align-items: center;
    padding: 30px 0px;
}

.resources>div:nth-child(1) {
    justify-content: space-between;
    width: 750px;
    text-align: center;
}

.resources>div:nth-child(2)>div {
    width: 250px;
    margin: 20px;
}

.resources>div:nth-child(2)>div>img {
    width: 250px;
}

.resources>div:nth-child(2)>div>h3 {
    margin: 10px 0px;
}

.resources>div:nth-child(2)>div>p {
    color: #52545a;
}



@media only screen and (max-width:900px) {

    .resources>div {
        flex-direction: column;
    }

    .resources>div:nth-child(1) {
        width: 100%;
    }

    .resources>div:nth-child(1)>h1 {
        margin: 10px 0px;
    }

}